// Home Content

.home {

  .intro {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    .box();
     width: 100%;
     
    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;

      @media @phone {
        width: 100%;
      }
    
    }
  
  }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    .box();
    
    @media @phone {
      flex-direction: column-reverse;
    }

    .walk-text {
      width: 50%;

      @media @phone {
        width: 100%;
      }
      
      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
        .allblack();
      }

      .btn button{
        padding: 7px 20px;
        .btn-cb(white, black);
        .btn-fontborder(2.4rem, 6px);

        @media @phone {
          padding: 3% 45%;
          .btn-fontborder(2rem, 6px);
        }

         &:hover{
          .btn-cb(red,orange);
        }
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;

      @media @phone {
        width: 100%;
        margin-bottom: 25px;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
// home

@media @phone {
  .space-images .sky {
    display: none;
  }
  .space-images .launch {
    display: none;
  }

  .intro img {
    width: 100%;
    border: 1px solid red;
  }
}