// Navigation code here
.nav-section {
    border: 1px solid red;
    margin-top: 20px;
    background: #DCDCDC;

h1 {
    .box();
    margin-top: 40px;
    font-size: 5rem;
    
}

nav {
    .box();
    margin: 15px 0;
    font-size: 2rem;
    // border: 1px solid red;

    a {
        text-decoration: none;
        padding: 5px 15px;
        .allblack();
    }
}
}